@import "tailwindcss";
@config "../tailwind.config.js";

body {
  font-family: 'LINE Seed Sans KR', -apple-system, sans-serif;
  color: theme('colors.gray.900');
  background-color: theme('colors.gray.50');
}