@import "tailwindcss";
@config "../tailwind.config.js";

body {
  font-family: Pretendard Variable, Pretendard, -apple-system, sans-serif;
  color: theme('colors.gray.900');
  background-color: theme('colors.gray.50');
}